.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #afafaf;
}

.topbar h1{
    padding: 15px;
    background-color: #afafaf;
}

.endbutton{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.endbutton p{
    padding-right: 35px;
    background-color: #afafaf;
}