*{
    background-color: #bef0ff;
}

.dashboardBlocks{
    display: flex;
    flex-wrap: wrap;
}

.greetings{
    display: flex;
    margin:3%;
    justify-content: space-between;
}

.greetings p{
    font-size: 2rem;
    font-weight: bold;
}

.greetings div{
    display: flex;
    background-color: #ffffff;
    padding: 1%;
    border-radius: 10rem;
    width: 18%;
}

.greetings div p{
    font-size:1.2rem;
    background-color: #ffffff;
    margin:5%;
}

hr{
    width:80%;
    margin:auto;
    border: 2px solid #000000;
    border-radius: 10px;
}